<div class="container-fluid">
    <div class="row-fluid">
        <div>
            <form class="form-inline">
                <label for="start">Start: </label><input id="start" style="width: 220px"/>
                <label for="end">End : </label><input id="end" style="width: 220px"/>
                <label for="mvid">MVID: </label><input id="mvid" type="text" class="input-medium" placeholder="MVID" />
                <label for="showRequestId">ShowRequestId: </label><input id="showRequestId" type="text" class="input-medium" placeholder="showRequestId" />

                <button class="submitButton k-button" id="submit">Submit</button>
            </form>

            <div id="timeline"></div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        function startChange() {
            var startDate = start.value(),
                    endDate = end.value();
        }

        function endChange() {
            var endDate = end.value(),
                    startDate = start.value();
        }

        var today = kendo.date.today();

        var now = new Date();
        var day = now.getDate();
        var month = now.getMonth();
        var year = now.getFullYear();
        var hour = now.getHours();

        var onehourago = new Date(year, month, day, hour-1);

        var start = $("#start").kendoDateTimePicker({
            value: onehourago,
            change: startChange
        }).data("kendoDateTimePicker");

        var end = $("#end").kendoDateTimePicker({
            value: now,
            change: endChange
        }).data("kendoDateTimePicker");

//        start.max(end.value());
//        end.min(start.value());

        $("#submit").click(submit);

        var starttime = onehourago.getTime();
        var endtime = now.getTime();


        function submit(e) {
            var starttime = start.value().getTime();
            var endtime = end.value().getTime();
            var user = $("#user").val();
            var name = $("#name").val();
            var queue = $("#queue").val();
            var state = $("#state").val();

            tasksDataSource.transport.options.read.url = serviceRoot + "?startedTimeBegin=" + starttime + "&startedTimeEnd=" + endtime + "&user=" + user + "&name=" + name + "&queue=" + queue + "&state=" + state;
            tasksDataSource.read();
        }


        var serviceRoot = "/rest/mrv2job/jobhistory";

        var tasksDataSource = new kendo.data.GanttDataSource({
            transport: {
                read: serviceRoot + "?startedTimeBegin=" + starttime + "&startedTimeEnd=" + endtime
            },
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { from: "id", type: "string" },
//                        orderId: { from: "orderID", type: "number", validation: { required: true } },
//                        parentId: { from: "parentID", type: "string", defaultValue: null, validation: { required: true } },
                        start: {
                            from: "startTime",
                            type: "date",
                            parse: function (value) {
                                return kendo.toString(new Date(value));
                            }
                        },
                        end: {
                            from: "finishTime",
                            type: "date",
                            parse: function (value) {
                                return kendo.toString(new Date(value));
                            }
                        },
                        title: { from: "name", defaultValue: "", type: "string" },
                        percentComplete: { from: "progress", type: "number", defaultValue: 100 },
                        summary: { from: "summary", type: "boolean" },
                        expanded: { from: "expanded", type: "boolean", defaultValue: true }
                    }
                }
            },
            sort: { field: "start", dir: "asc" }
        });

    });

</script>

<!--<script>-->
    <!--var now = moment().minutes(0).seconds(0).milliseconds(0);-->
    <!--var groupCount = 3;-->
    <!--var itemCount = 20;-->

    <!--// create a data set with groups-->
    <!--var names = ['John', 'Alston', 'Lee', 'Grant'];-->
    <!--var groups = new vis.DataSet();-->
    <!--for (var g = 0; g < groupCount; g++) {-->
        <!--groups.add({id: g, content: names[g]});-->
    <!--}-->

    <!--// create a dataset with items-->
    <!--var items = new vis.DataSet();-->
    <!--for (var i = 0; i < itemCount; i++) {-->
        <!--var start = now.clone().add(Math.random() * 200, 'hours');-->
        <!--var group = Math.floor(Math.random() * groupCount);-->
        <!--items.add({-->
            <!--id: i,-->
            <!--group: group,-->
            <!--content: 'item ' + i +-->
            <!--' <span style="color:#97B0F8;">(' + names[group] + ')</span>',-->
            <!--start: start,-->
            <!--type: 'box'-->
        <!--});-->
    <!--}-->

    <!--// create visualization-->
    <!--var container = document.getElementById('timeline');-->
    <!--var options = {-->
        <!--groupOrder: 'content'  // groupOrder can be a property name or a sorting function-->
    <!--};-->

    <!--var timeline = new vis.Timeline(container);-->
    <!--timeline.setOptions(options);-->
    <!--timeline.setGroups(groups);-->
    <!--timeline.setItems(items);-->

<!--</script>-->

<script>
    // DOM element where the Timeline will be attached
    var container = document.getElementById('timeline');

    // Create a DataSet (allows two way data-binding)
    var items = new vis.DataSet(    [
        {
            "id": 167168605450210300,
            "group": "00029880654502103090016",
            "content": "u",
            "start": 1472910654016,
            "type": "point"
        },
        {
            "id": 8646426294849210000,
            "group": "00026981433051614080016",
            "content": "u",
            "start": 1472910588865,
            "type": "point"
        },
        {
            "id": 3414798543949210000,
            "group": "00024732905031125040015",
            "content": "s",
            "start": 1472910580484,
            "type": "point"
        },
        {
            "id": 3132918401451210000,
            "group": "00011142234211823010016",
            "content": "u",
            "start": 1472910674313,
            "type": "point"
        },
        {
            "id": 9055058950751210000,
            "group": "00008433509202219100015",
            "content": "u",
            "start": 1472910667906,
            "type": "point"
        },
        {
            "id": 8579158414650000,
            "group": "00001390251571319010015",
            "content": "u",
            "start": 1472910646857,
            "type": "point"
        },
        {
            "id": 8579158414650210001,
            "group": "00001390251571319010015",
            "content": "s",
            "start": 1472910700857,
            "type": "point"
        }
    ]);

    var groups = new vis.DataSet(
            [
                {"id": "00001390251571319010015", content:"mvid"},
                {"id": "00008433509202219100015", content:"mvid"},
                {"id": "00011142234211823010016", content:"mvid"},
                {"id": "00024732905031125040015", content:"mvid"},
            ]
    );

    // Configuration for the Timeline
    var options = {};

    // Create a Timeline
    var timeline = new vis.Timeline(container);
    timeline.setItems(items)
    timeline.setGroups(groups)
    timeline.setOptions(options)
</script>

</div>