<div class="container-fluid">
  <div class="row-fluid">
    <div>
      <form class="form-inline">
        <label for="start">Start: </label><input id="start" style="width: 220px"/>
        <label for="end">End : </label><input id="end" style="width: 220px"/>
        <label for="mvid">MVID: </label><input id="mvid" type="text" class="input-large" placeholder="MVID"/>
        <button class="submitButton k-button" id="submit">Submit</button>
      </form>
      <div id="message" class="alert ">
        Cookie Activities Timeline
      </div>

      <div id="timeline"></div>

      <!-- Modal -->
      <div class="modal fade" id="logdetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Log Detail</h4>
              <div id="loglink"></div>
            </div>
            <div class="modal-body" id="logdetail"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  // DOM element where the Timeline will be attached
  var container = document.getElementById('timeline');

  // Configuration for the Timeline
  var options = {};
  var items = new vis.DataSet();
  var groups = new vis.DataSet();

  $(document).ready(function () {

    function startChange() {
      var startDate = start.value(),
              endDate = end.value();
    }

    function endChange() {
      var endDate = end.value(),
              startDate = start.value();
    }

    var today = kendo.date.today();

    var now = new Date();
    var day = now.getDate();
    var month = now.getMonth();
    var year = now.getFullYear();
    var hour = now.getHours();
    var min = now.getMinutes();

    var fiveminsAgo = new Date(year, month, day, hour, min - 5);

    var start = $("#start").kendoDateTimePicker({
      value: fiveminsAgo,
      change: startChange
    }).data("kendoDateTimePicker");

    var end = $("#end").kendoDateTimePicker({
      value: now,
      change: endChange
    }).data("kendoDateTimePicker");

    $("#submit").click(submit);

    var starttime = fiveminsAgo.getTime();
    var endtime = now.getTime();

    $.ajax(
            {
              type: 'GET',
              url: '/rest/hbase/scan?table=dspsession-idx-mvid&start=' + starttime + '&end=' + endtime,
              dataType: 'json',
              success: function (result, textStatus) {
                items = new vis.DataSet(result['items']);
                groups = new vis.DataSet(result['groups']);

              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#message").attr('class', 'alert alert-block alert-danger');
                $("#message").html(errorThrown);
              }
            });

    var timeline = new vis.Timeline(container, items, groups, options);
    timeline.on('select', function (properties) {
      var logdetail = document.getElementById('logdetail');
      var selected = properties['items'][0];
      var value = items.get(selected).content;
      console.log("selected:" + selected + ", content:" + value);
      var family = value.split(":")[0];
      var showRequestId = value.split(":")[1];
      var url = '/rest/hbase/get?table=dspsession' + '&showRequestId=' + showRequestId + '&family=' + family;

      $.ajax(
              {
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function (result, textStatus) {

                  var logdetail = document.getElementById('logdetail');
                  logdetail.innerHTML = JSON.stringify(result);

                  var loglink = document.getElementById('loglink');
                  loglink.innerHTML = "<a href='" + url + "' target='_blank'>open in new Tab</a>"
                  $('#logdetailModal').modal('show');

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                  $("#message").attr('class', 'alert alert-block alert-danger');
                  $("#message").html(errorThrown);
                }
              });

    })

    function submit(e) {
      var starttime = start.value().getTime();
      var endtime = end.value().getTime();
      var mvid = $("#mvid").val();

      $("#message").attr('class', 'alert alert-block alert-info');
      $("#message").html("Querying.... ");

      $.ajax(
              {
                type: 'GET',
                url: '/rest/hbase/scan?table=dspsession-idx-mvid&start=' + starttime + '&end=' + endtime + '&row=' + mvid,
                dataType: 'json',
                success: function (result, textStatus) {

                  $("#message").attr('class', 'alert alert-block alert-info');
                  $("#message").html("SUCCESS");

                  items.clear();
                  groups.clear();

                  items.add(result['items']);
                  groups.add(result['groups']);
                  timeline.setItems(items);
                  timeline.setGroups(groups);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                  $("#message").attr('class', 'alert alert-block alert-danger');
                  $("#message").html(errorThrown);
                }
              });
    }

  });

</script>
